apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: lm-sqlite-pvc
  namespace: lm
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: gp2 # AWS EBS
